*, *:before, *:after{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
} 
html, body {
  width: 100%;
  min-height: 100%;
  font-family: 'Exo', sans-serif;
  transition:
    color 0.5s,
    background-color 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --form-text: #1d1d1d;
  --button-background: #3E5063;
  --button-base: #ddd;
  --button-hover-bg: #49729e;
  --button-hover-text: #fff;
  --scrollbar-thumb-hover: var(--button-hover-bg);
  --animation-duration: 0.1s;
}
button {
  transition:
    background-color 0.1s linear,
    border-color 0.1s linear,
    color 0.1s linear,
    box-shadow 0.1s linear,
    transform 0.1s ease;
  transition:
    background-color var(--animation-duration) linear,
    border-color var(--animation-duration) linear,
    color var(--animation-duration) linear,
    box-shadow var(--animation-duration) linear,
    transform var(--animation-duration) ease;
}
button,
select,
input[type='submit'],
input[type='reset'],
input[type='button'],
input[type='checkbox'],
input[type='range'],
input[type='radio'] {
  cursor: pointer;
}
button {
  color: var(--button-base);
  background-color: #efefef;
  background-color: var(--button-background);
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
}

button:hover {
  background-color: var(--button-hover-bg);
  color: var(--button-hover-text);
}